.container {
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: 32px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #2E2D4E;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2E2D4E;
  min-width: 98%;
  max-width: 40%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #8B8AE1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid #48456C;
    border-radius: 30px;
    padding-left: 10px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    outline: 10px;
  }

  & p {
    color: #fff;
    font-size: 8px;
  }

  & .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    background-color: #2E2D4E;
  }
}

.messagesHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 98%;
  width: 80%;
  border-radius: 10px;
  padding: 20px 20px;
  background-color: #2e2d4e3a;

  & h1{
    font-size: 32px;
    width: 100%;
    background-color: #2E2D4E;
    border-radius: 10px;
    padding: 10px 10px;
  }
}

.messageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #2E2D4E;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  min-width: 90%;
  max-width: 80%;

  & p {
    color: #fff;
    font-weight: bold;
  }
}